{% extends "layout.html" %}
{% block titulo %}
	Clientes de {{banco}}
{% endblock titulo %}
{% block css %}
	<link href="/static/assets/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block contenido %}
	<ol class="breadcrumb">
	  <li><a href="/">bancos</a></li>
	  <li class="active">Clientes de {{banco}}</li>
	</ol>

	<div class="page-heading">
		<h1>
			<i class="fa fa-users" aria-hidden="true"></i> Clientes de {{banco}}
			{% if perms.banco.add_cliente %}
				<a href="{% url 'clientes' %}?banco={{banco.id}}&agregar" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Agregar nuevo cliente</a>
			{% endif %}
		</h1>
	</div>

	<div class="widget">
		<div class="widget-header">
			<h2><strong>Listado de clientes registrados</strong></h2>
		</div>
		<div class="widget-content">
			<div class="table-responsive" id="conteneder_tabla">
				<table class="table table-striped table-bordered tabla_clientes" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Documento</th>
							<th>Nombre</th>
							<th>Dirección</th>
							<th>Fecha nacimento</th>
							<th>Observaciones</th>
							<th>Fecha registro</th>
							<th>Usuario registro</th>
							{% if  perms.banco.delete_banco %}
								<th>Opciones</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for cliente in banco.get_clientes %}
							<tr>
								<td>{{cliente.documento}}</td>
								<td>
									<a href="{% url 'clientes' %}?banco={{banco.id}}&ver_cliente={{cliente.id}}"><i class="fa fa-external-link"></i> {{cliente.nombre}}</a>
								</td>
								<td>{{cliente.direccion}}</td>
								<td>{{cliente.fecha_nacimiento}}</td>
								<td>{{cliente.observaciones|default:""}}</td>
								<td>{{cliente.fecha_registro}}</td>
								<td>{{cliente.usuario_registro}}</td>
								<td style="width:140px">
									<div class="btn-group btn-group-xs">
										<a href="{% url 'clientes' %}?banco={{banco.id}}&editar={{cliente.id}}" class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
										<a data-eliminar-cliente="{{cliente.id}}" data-nombre="{{cliente}}" class="btn btn-danger"><i class="fa fa-times"></i> Eliminar</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="modal_eliminar_cliente" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Eliminar cliente</h4>
				</div>
				<div class="modal-body">
					¿Está seguro que desea eliminar el cliente <strong></strong>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
					<a href="" class="btn btn-danger"><i class="fa fa-ban"></i> Si, eliminar</a>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock contenido %}
{% block js %}
	<script src="/static/assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
	<script src="/static/assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
	<script src="/static/assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript">
		$("#link_bancos").addClass('active');

		$(document).on('click', 'a[data-eliminar-cliente]', function(event) {
			event.preventDefault();
			var cliente = $(this).attr('data-eliminar-cliente');
			var nombre = $(this).attr('data-nombre');
			$("#modal_eliminar_cliente").modal("show");
			$("#modal_eliminar_cliente .modal-body strong").html(nombre);
			$("#modal_eliminar_cliente .modal-footer a").attr('href', '{% url "clientes" %}?banco={{banco.id}}&eliminar='+cliente);
		});

		var configuracion_datatables= {"language": {
	            "emptyTable":     "No hay registros",
	            "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
	            "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
	            "infoFiltered":   "(Filtrado de _MAX_ de los registros totales)",
	            "infoPostFix":    "",
	            "thousands":      ",",
	            "lengthMenu":     "Mostrando _MENU_ registros",
	            "loadingRecords": "Cargando...",
	            "processing":     "Procesando...",
	            "search":         "Buscar:",
	            "zeroRecords":    "No se encontraron resultados",
	            "paginate": {
	                "first":      "Primero",
	                "last":       "Último",
	                "next":       "Siguiente",
	                "previous":   "Anterior"
	            },
	            "aria": {
	                "sortAscending":  ": activate to sort column ascending",
	                "sortDescending": ": activate to sort column descending"
	            }
	        },
	        "order":[[1,"desc"]]
	    	};

		var tabla_bancos = $(".tabla_clientes").DataTable(configuracion_datatables);
	</script>
{% endblock js %}