{% extends "layout.html" %}
{% load humanize %}
{% block titulo %}
	Ver cliente {{cliente}}
{% endblock titulo %}
{% block css %}
	<link href="/static/assets/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block contenido %}
	<ol class="breadcrumb">
	  <li><a href="/">bancos</a></li>
	  <li><a href="{% url 'clientes' %}?banco={{banco.id}}">Clientes de {{banco}}</a></li>
	  <li class="active">Ver cliente {{cliente}}</li>
	</ol>

	<div class="page-heading">
		<h1>
			<i class="fa fa-users" aria-hidden="true"></i> {{cliente.documento}} - {{cliente}}
		</h1>
	</div>

	<div class="widget">
		<div class="widget-header">
			<h2><strong>Detalles</strong></h2>
		</div>
		<div class="widget-content padding">
			<div class="row">
				<div class="col-sm-3">
					<label>Nombre: </label><br>
					{{cliente.nombre}}
				</div>
				<div class="col-sm-6">
					<label>Dirección: </label><br>
					{{cliente.direccion}}
				</div>
				<div class="col-sm-3">
					<label>Fecha de nacimiento: </label><br>
					{{cliente.fecha_nacimiento}}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-3">
					<label>Fecha registro: </label><br>
					{{cliente.fecha_registro}}
				</div>
				<div class="col-sm-6">
					<label>Usuario registro: </label><br>
					{{cliente.usuario_registro}}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-12">
					<label>Observaciones</label><br>
					{{cliente.observaciones|default:"Ninguna"}}
				</div>
			</div>

		</div>
	</div>

	<div class="widget">
		<div class="widget-header">
			<h2><strong>Cuentas</strong></h2>
		</div>
		<div class="widget-content">	
			<table id="tabla_cuentas_clientes" class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Tipo de cuenta</th>
						<th>Número cuenta</th>
						<th>Fecha cuenta</th>
						<th>Número Tarjeta débito</th>
						<th>Fecha Tarjeta</th>
						<th>Usuario registro</th>
						<th>Saldo</th>
					</tr>
				</thead>
				<tbody>
					{% for cuenta in cliente.get_cuentas %}
						<tr>
							<td>{{cuenta.get_tipo_display}}</td>
							<td>{{cuenta.numero_cuenta}}</td>
							<td>{{cuenta.fecha_registro}}</td>
							<td>{{cuenta.get_tarjeta_debito.numero}}</td>
							<td>{{cuenta.get_tarjeta_debito.fecha_registro}}</td>
							<td>{{cuenta.usuario_registro}}</td>
							<td style="text-align:right">$ {{cuenta.get_saldo|default:"0"|intcomma}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="widget">
		<div class="widget-header">
			<h2><strong>Historial de transacciones</strong></h2>
		</div>
		<div class="widget-content">	
			{% if not cliente.get_historial_transacciones %}
				<div class="alert alert-info">
					<strong><i class="fa fa-info-circle"></i> Atención!. </strong>No se han registrado transacciones para este cliente
				</div>
			{% else %}
				<table id="tabla_cuentas_clientes" class="table table-bordered table-condensed datatable">
					<thead>
						<tr>
							<th>No.</th>
							<th>Fecha</th>
							<th>Tipo</th>
							<th>Valor</th>
							<th>Cuenta</th>
							<th>Cuenta Destino</th>
							<th>Usuario registró</th>
						</tr>
					</thead>
					<tbody>
						{% for transaccion in cliente.get_historial_transacciones %}
							<tr>
								<td>{{transaccion.id}}</td>
								<td>{{transaccion.fecha_registro}}</td>
								<td>{{transaccion.get_tipo_display}}</td>
								<td class="right">{{transaccion.valor|intcomma}}</td>
								<td>{{transaccion.cuenta.numero_cuenta}}</td>
								<td>
									{{transaccion.cuenta_destino.numero_cuenta|default:""}}
								</td>
								<td>{{transaccion.usuario_registro}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
{% endblock contenido %}

{% block js %}
	<script src="/static/assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
	<script src="/static/assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
	<script src="/static/assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript">
		$("#link_bancos").addClass('active');

		var configuracion_datatables= {"language": {
	            "emptyTable":     "No hay registros",
	            "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
	            "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
	            "infoFiltered":   "(Filtrado de _MAX_ de los registros totales)",
	            "infoPostFix":    "",
	            "thousands":      ",",
	            "lengthMenu":     "Mostrando _MENU_ registros",
	            "loadingRecords": "Cargando...",
	            "processing":     "Procesando...",
	            "search":         "Buscar:",
	            "zeroRecords":    "No se encontraron resultados",
	            "paginate": {
	                "first":      "Primero",
	                "last":       "Último",
	                "next":       "Siguiente",
	                "previous":   "Anterior"
	            },
	            "aria": {
	                "sortAscending":  ": activate to sort column ascending",
	                "sortDescending": ": activate to sort column descending"
	            }
	        },
	        "order":[[0,"desc"]]
	    	};

		var tabla_bancos = $(".datatable").DataTable(configuracion_datatables);
	</script>
{% endblock js %}